# Ignore virtual environments
env/
venv/
myvenv/
/static
myenv/
plugin/migrations
users/migrations
eml_backup


# Ignore Python cache files
__pycache__/

# Ignore environment variable files
.env
# Ignore virtual environment
myenv/

# Other ignores
*.pyc
__pycache__/
